<ul class="list-group">
  <% @person.comments.each do |comment| %>
    <% if comment.body.present? %>
      <li class="list-group-item">
        <strong><%= comment.created_at %></strong>
        <%= comment.body %>
      </li>
    <% end %>
  <% end %>
</ul>