<h2><%= t('email.page_name.index') %></h2>

<div>
  <% @person.emails.each do |email| %>
    <ul>
      <% if email.email.present? %>
        <li><%= email.email %></li>
      <% end %>
    </ul>
  <% end %>
</div>